1. Explorar las primeras filas del archivo y mostrar la estructura original

In [9]:
import pandas as pd
emisiones = pd.read_csv("Emisiones_CO2.csv", encoding='latin1', sep='|')

#print("Impresion de las primeras 5 registros")
#print(emisiones.head())
print("\nImpresion de los primeros 10 registros")
emisiones.head(10)

Impresion de los primeros 10 registros

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
0,ABW,Aruba,América Latina y Caribe,1960,NaN,NaN
1,ABW,Aruba,América Latina y Caribe,1961,NaN,NaN
2,ABW,Aruba,América Latina y Caribe,1962,NaN,NaN
3,ABW,Aruba,América Latina y Caribe,1963,NaN,NaN
4,ABW,Aruba,América Latina y Caribe,1964,NaN,NaN
5,ABW,Aruba,América Latina y Caribe,1965,NaN,NaN
6,ABW,Aruba,América Latina y Caribe,1966,NaN,NaN
7,ABW,Aruba,América Latina y Caribe,1967,NaN,NaN
8,ABW,Aruba,América Latina y Caribe,1968,NaN,NaN
9,ABW,Aruba,América Latina y Caribe,1969,NaN,NaN

2. Verificar el número de filas y de columnas del archivo

In [10]:
emisiones.shape

(11127, 6)

3. Identificar los tipos de datos de cada columna

In [11]:
#emisiones.dtypes
emisiones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Código de país                       11127 non-null  object
 1   Nombre del país                      11127 non-null  object
 2   Región                               11127 non-null  object
 3   Año                                  11127 non-null  int64
 4   CO2 (kt)                             9032 non-null   object
 5   CO2 per cápita (toneladas métricas)  9029 non-null   object
dtypes: int64(1), object(5)
memory usage: 521.7+ KB

4. Contar la cantidad de valores nulos en cada columna

In [12]:
emisiones.isnull().sum()

Código de país                            0
Nombre del país                           0
Región                                    0
Año                                       0
CO2 (kt)                               2095
CO2 per cápita (toneladas métricas)    2098
dtype: int64

5. Comprobar si exiten filas ducplicadas y eliminalas si las hubiera

In [13]:
emisiones.duplicated().sum()

np.int64(0)

6. Convertir las columnas de tipo fecha o numerico al formato correspondiente

In [16]:
emisiones["CO2 (kt)"]=pd.to_numeric(emisiones["CO2 (kt)"], errors='coerce')
emisiones["CO2 per cápita (toneladas métricas)"]=pd.to_numeric(emisiones["CO2 per cápita (toneladas métricas)"], errors='coerce')
emisiones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Código de país                       11127 non-null  object
 1   Nombre del país                      11127 non-null  object
 2   Región                               11127 non-null  object
 3   Año                                  11127 non-null  int64
 4   CO2 (kt)                             2 non-null      float64
 5   CO2 per cápita (toneladas métricas)  0 non-null      float64
dtypes: float64(2), int64(1), object(3)
memory usage: 521.7+ KB

7. Calcular la media, minimo y maximo de las columnas numericas

In [21]:
#emisiones.describe()
emisiones["CO2 (kt)"].mean()
print(f"La media de emisiones de CO2 es: {emisiones['CO2 (kt)'].mean():.2f} kt")
emisiones["CO2 (kt)"].min()
print(f"La minima de emisiones de CO2 es: {emisiones['CO2 (kt)'].min():.2f} kt")
emisiones["CO2 (kt)"].max() 
print(f"La maxima de emisiones de CO2 es: {emisiones['CO2 (kt)'].max():.2f} kt")

La media de emisiones de CO2 es: 163.18 kt
La minima de emisiones de CO2 es: 7.33 kt
La maxima de emisiones de CO2 es: 319.03 kt

8. Ordenar los registros segun una columna relevante en orden descendnte

In [22]:
emisiones.sort_values(by="CO2 (kt)", ascending=False).head(10)

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
8054,POL,Polonia,Europa y Asia Central,2006,319.029,NaN
2488,CYP,Chipre,Europa y Asia Central,2004,7.334,NaN
0,ABW,Aruba,América Latina y Caribe,1960,NaN,NaN
1,ABW,Aruba,América Latina y Caribe,1961,NaN,NaN
2,ABW,Aruba,América Latina y Caribe,1962,NaN,NaN
3,ABW,Aruba,América Latina y Caribe,1963,NaN,NaN
4,ABW,Aruba,América Latina y Caribe,1964,NaN,NaN
5,ABW,Aruba,América Latina y Caribe,1965,NaN,NaN
6,ABW,Aruba,América Latina y Caribe,1966,NaN,NaN
7,ABW,Aruba,América Latina y Caribe,1967,NaN,NaN